<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
body{
    
    background-image:url("https://th.bing.com/th/id/R.2da5efa463de71f8db77fdd0baf3c81b?rik=Ot%2fxoebb3Jx2Zw&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    }    
</style>
<title></title>
</head>
<body >
<header>
<nav>
    <div class="nav-wrapper" style="background-color:blue">
      <a href="#" class="brand-logo">Pagina inicio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/eventos"><i class="material-icons left">play_arrow</i>Acessar o cadastro de eventos</a></li>
      </ul>
    </div>
  </nav>
</header>
 <h1 align="center" style="font-family:cursive">Trabalho Programação Orientada a Objetos IFSC</h1>
 <br>
 <h3 align="center" style="font-family:cursive">Tema:Cadastro Eventos</h3>
 <br>
 <h3 align="center" style="font-family:cursive">Aluno:Jalmir Winter</h3>
  
  
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>