<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
<style type="text/css">
body{
     
     background-image:url("https://th.bing.com/th/id/R.2da5efa463de71f8db77fdd0baf3c81b?rik=Ot%2fxoebb3Jx2Zw&pid=ImgRaw&r=0");
     background-repeat: no-repeat;
     background-size: cover;
     }
</style>
</head>
<body>
	<header>
		<nav class="menu">
			<div class="nav-wrapper" style="background-color:blue">
				<a href="#" class="brand-logo">Página de Login</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
			</div>
		</nav>
	</header>

	<h1 align="center">Acesso ao cadastro de eventos!!</h1>
	<form method="post">
		<div class="container">
			<div class="row">
				<div class="col s6 offset-s3 z-depth-1" id="panell">
					<h5 id="title">Faça o Login:</h5>

					<div class="input-field" id="username">
						<input type="text" class="validate" name="username" required> <label
							for="username">Usuário</label>
					</div>
					<div class="input-field" id="password">
						<input type="password" class="validate" name="password" required> <label
							for="password">Senha</label>
					</div>

					<input class="btn btn-primary" type="submit" value="Acessar">


				</div>
			</div>

		</div>
	</form>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>